body {
    font-family: inherit;
}

.daohang {
    margin-top: 20px;
    text-align: center;
    margin-left: 80px;
    color: #000000;
    font-size: 15px;
    font-family: inherit;
}

.yihcun {
    margin-top: 20px;
}

.xiaotunan {
    width: 350px;
    margin-left: 25%;
    margin-top: 30px;
}

.xiaotunv {
    width: 350px;
    margin-left: 10%;
    margin-top: 30px;
}

.shuzi {
    position: relative;
    margin-top: -450px;
    margin-left: 800px;
    font-size: 32px;
    color: #868082;
}

.zimu {
    position: relative;
    margin-top: 10px;
    margin-left: 800px;
    font-size: 32px;
    color: #eec7ca;
}

.zi {
    position: relative;
    margin-top: 10px;
    margin-left: 800px;
    font-size: 12px;
    color: #000000;
}

.heizi {
    position: relative;
    margin-top: 50px;
    margin-left: 800px;
    font-size: 15px;
    color: #000000;
}

.biaoti {
    position: relative;
    margin-top: 300px;
    margin-left: 840px;
    font-size: 18px;
    color: #000000;
}

.xiaobiaoti {
    position: relative;
    margin-top: 90px;
    margin-left: 150px;
    padding-left: 80px;
    font-size: 14px;
    color: #eec7ca;
}

.jiemeitu {
    position: relative;
    width: 250px;
    margin-top: 50px;
    margin-left: 180px;
}

.haitun {
    position: relative;
    margin-top: 15px;
    margin-left: 270px;
    font-size: 14px;
}

.haitun1 {
    position: relative;
    margin-top: 15px;
    margin-left: 280px;
    font-size: 16px;
    color: #eec7ca;
}

.xiuxian {
    position: relative;
    margin-top: 15px;
    margin-left: 370px;
    font-size: 14px;
}

.xiuxian1 {
    position: relative;
    margin-top: 15px;
    margin-left: 390px;
    font-size: 14px;
    color: #eec7ca;
}

.cixiu {
    position: relative;
    margin-top: 15px;
    margin-left: 380px;
    font-size: 14px;
}

.cixiu1 {
    position: relative;
    margin-top: 15px;
    margin-left: 385px;
    font-size: 14px;
    color: #eec7ca;
}

.qun {
    position: relative;
    margin-top: 15px;
    margin-left: 390px;
    font-size: 14px;
}

.qun1 {
    position: relative;
    margin-left: 400px;
    font-size: 14px;
    color: #eec7ca;
}

.biaoti2 {
    position: relative;
    margin-top: 140px;
    margin-left: 840px;
    font-size: 18px;
    color: #000000;
}

.xiaotu1 {
    position: relative;
    width: 300px;
    margin-top: 100px;
    margin-left: 250px;
}

.xiaotu2 {
    position: relative;
    width: 300px;
    margin-top: 100px;
    margin-left: 400px;
}

.money {

    margin-top: 10px;
}

.xqbox {
    position: relative;
    margin-top: -300px;
    margin-left: 570px;
    width: 350px;
    height: 300px;
}

.maoyi1 {
    font-size: 14px;
    color: #000000;
}

.maoyi11 {
    font-size: 16px;
    color: #eec7ca;
}

.myxq {
    text-align: center;
    width: 100px;
    height: 25px;
    background: #000000;
    font-size: 16px;
    color: #ffffff;
    padding: 5px;
}

.xqbox2 {
    position: relative;
    margin-top: -300px;
    margin-left: 1275px;
    width: 350px;
    height: 300px;
}

#last {
    height: 500px;
    margin-top: 190px;
}

.left {
    width: 1000px;
    height: 500px;
    margin-left: 350px;
    margin-top: 100px;
}

.right {
    width: 1000px;
    height: 500px;
    margin-top: -800px;
    margin-left: 850px;

}

.right1 {
    border: solid 6px #eec7ca;
    width: 600px;
    height: 350px;
    margin-top: 450px;
    margin-left: -60px;
}

.zt {
    position: relative;
    margin-left: 240px;
    top: 30px;
    font-family: inherit;
}

.nrbox {
    position: relative;
    width: 500px;
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

.nr {
    display: inline-block;

}

.zt2 {
    position: relative;
    margin-left: 190px;
    top: 50px;
    font-family: inherit;
    color: #eec7ca;
}

.ljxq {
    text-align: center;
    width: 100px;
    height: 25px;
    background: #000000;
    font-size: 16px;
    color: #ffffff;
    padding: 5px;
    margin-left: 238px;
    margin-top: 90px;
}

#yj {
    position: relative;
    height: 500px;
    background: #eeeeee;
    margin-top: 100px;
}

.fk1 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 180px;
    margin-top: 40px;
    background: #ffffff;
}

.ct1 {
    display: inline-block;
    width: 300px;
    height: 100px;
    margin-left: 30px;
    margin-top: 40px;
    background: #ffffff;
}

.fk2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 40px;
    background: #ffffff;
}

.ct2 {
    display: inline-block;
    width: 300px;
    height: 100px;
    margin-left: 30px;
    margin-top: 40px;
    background: #ffffff;
}

.fk3 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 40px;
    background: #ffffff;
}

.ct3 {
    display: inline-block;
    width: 300px;
    height: 100px;
    margin-left: 30px;
    margin-top: 40px;
    background: #ffffff;
}

.wl {
    position: relative;
    margin-left: -90px;
    margin-bottom: 10px;

}

.gy {
    position: relative;
    margin-left: -90px;
    margin-bottom: 20px;

}

.lxwm {
    position: relative;
    margin-left: -90px;
    margin-bottom: 15px;

}

.wl1 {
    position: relative;
    margin-left: -300px;
    top: -70px;

}
